{
    "extends": "airbnb-base",
    "rules": {
       "no-underscore-dangle": ["error", { "allow": ["_id"] }],
       "linebreak-style": 0,
       "max-classes-per-file": ["error", 6],
       "consistent-return": "off",
       "no-unused-vars": "off"
    }
  }